:root {
  --color-0: #FFFFFF;
  --color-1: #795538;
  --color-2: #6BA03D;
  --color-3: #ECAE2D;
  --color-4: #FAF8F2;
  --color-5: #000000;
  --color-2-transparent: rgba(110, 160, 61, 0.3); 
}

body.layout-invertido {
  --color-2: #ECAE2D;
  --color-3: #6BA03D;
  --color-2-transparent: rgba(236, 174, 45, 0.3);
}


.color-0 {
  color: var(--color-0);
}

.color-1 {
  color: var(--color-1);
}

.color-2 {
  color: var(--color-2);
}

.color-3 {
  color: var(--color-3);
}

.color-4 {
  color: var(--color-4);
}

.color-5 {
  color: var(--color-5);
}

.bg-0 {
  background-color: var(--color-0);
}

.bg-1 {
  background-color: var(--color-1);
}

.bg-2 {
  background-color: var(--color-2);
}

.bg-3 {
  background-color: var(--color-3);
}

.bg-4 {
  background-color: var(--color-4);
}

.bg-5 {
  background-color: var(--color-5);
}
