.login-wrapper-employee {
  display: flex;
  height: 100vh;
}

.login-left {
  width: 50%;
  background-color: var(--color-4);
  padding: 60px;
  position: relative;
}

.logo-title {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.logo-circle {
  width: 150px;
  height: 150px;
  background-color: #cfe5c1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.brand-name {
  font-style: italic;
  font-weight: 600;
}

.welcome-title {
  margin-bottom: 10px;
}

.welcome-subtext {
  margin-bottom: 30px;
}

.login-form label {
  display: block;
  margin-top: 20px;
}

.login-form input {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.forgot-password {
  display: block;
  margin-top: 10px;
  font-size: 0.875rem;
  text-align: right;
  text-decoration: none;
}

.btn-login {
  width: 100%;
  background-color: var(--color-2);
  color: var(--color-0);
  padding: 12px;
  margin-top: 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.divider {
  text-align: center;
  margin: 20px 0;
  font-size: 0.85rem;
  color: #aaa;
}

.btn-create {
  width: 100%;
  background: none;
  border: 1px solid var(--color-3);
  color: var(--color-3);
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
}

.footer {
  position: absolute;
  bottom: 20px;
  font-size: 0.75rem;
  color: #aaa;
}

.login-right {
  width: 50%;
  background-color: var(--color-2);
  color: var(--color-0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.right-content {
  max-width: 60%;
  text-align: center;
}

.icon-circle {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.slogan {
  margin-bottom: 10px;
}

.slogan-text {
  line-height: 1.6;
}