.register-wrapper {
    display: flex;
    height: 100vh;
}

body.layout-invertido .register-wrapper {
    flex-direction: row-reverse;
}

.register-left {
    width: 50%;
    background-color: var(--color-4);
    padding: 60px;
    position: relative;
}

.logo-title {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.logo-circle {
    width: 150px;
    height: 150px;
    background-color: var(--color-2-transparent);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.brand-name {
    font-style: italic;
    font-weight: 600;
}

.welcome-title {
    margin-bottom: 10px;
}

.welcome-subtext {
    margin-bottom: 30px;
}

.register-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 800px;
    width: 100%;
    margin-top: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 6px;
}

.form-group input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.form-actions {
    grid-column: 1 / -1;
    text-align: center;
}

.btn-register,
.btn-create {
    width: 60%;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
}

.btn-register {
    border: none;
    background-color: var(--color-2);
    color: var(--color-0);
    margin-top: 20px;
}

.btn-create {
    background: none;
    border: 1px solid var(--color-3);
    color: var(--color-3);
}

.divider {
    margin: 20px 0;
    color: #aaa;
    font-size: 0.85rem;
}

.footer {
    position: absolute;
    bottom: 20px;
    font-size: 0.75rem;
    color: #aaa;
}

.register-right {
    width: 50%;
    background-color: var(--color-2);
    color: var(--color-0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.right-content {
    max-width: 60%;
    text-align: center;
}

.icon-circle {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.slogan {
    margin-bottom: 10px;
}

.slogan-text {
    line-height: 1.6;
}
